@import '../../common/styles/colors';
.drop-down {
  ::after {
    color: $white;
  }
  a {
    font-size: 1rem;
  }
  &__icon {
    margin-right: 4px;
  }

  &__profile-item {
    display: flex;
    justify-content: center;
    align-items: center;

    &--image {
      height: 2.5rem;
      border-radius: 50%;
      margin-right: 2px;
    }
  }
  &__user-content {
    font-size: 0.9rem;

    &--email {
      color: $darkgitGrey;
      max-width: 7rem;
      p {
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &--name {
      p {
        margin: 0;
      }
    }
  }
}
