@import '../../common/styles/colors';

.day-viewer {
  &-container {
    width: 50%;
    height: 150px;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid $primary;
    border-radius: 20px;
  }

  &-title {
    margin-bottom: 20px;
  }

  &-card-users-container {
    display: flex;
    gap: 10px;
    overflow-y: hidden;

    /* Track */
    &::-webkit-scrollbar {
      height: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $secondary;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $primary;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #875a97;
    }

    .profile-image {
      cursor: pointer;
    }
  }

  &-no-users {
    color: $primary;
    font-size: 18px;
  }
}
