@import '../../common/styles/responsive';

.form {
  &-header {
    height: 15%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  &-title-container {
    display: flex;
    & img {
      height: 40px;
    }

    & h1 {
      font-size: 25px;
      color: #724d7e;
    }
  }

  &-btn-container {
    color: grey;
    & button {
      width: 100px;
      height: 50px;
      border: 1px solid #724d7e;
      outline: none;
      background-color: white;
      font-size: 18px;
      border-radius: 10px;
      color: #724d7e;
    }

    .redirect-btn {
      cursor: pointer;
    }
  }
}

@include xsm {
  .form {
    &-header {
      gap: 10px;
    }

    &-btn-container {
      text-align: end;
    }
  }
}
