@import './colors';
@import './functions';

@each $color in $colors {
    .alert-#{nth($color, 1)} {
        background-color: lighten(nth($color, 2), 80%);
        border-color: nth($color, 2);
        color: nth($color, 2);
    }
}