@each $color in $colors {
  .btn-#{nth($color,1)} {
    background: nth($color, 2);
    border: none;
    outline: none;

    @if nth($color, 1) ==
      'dark' or
      nth($color, 1) ==
      'danger' or
      nth($color, 1) ==
      'primary'
    {
      color: $white;
    } @else {
      color: $dark;
    }

    @if nth($color, 1) == 'secondary' {
      color: $primary;
    }

    &:hover,
    &:active {
      background-color: lighten(nth($color, 2), 15%) !important;
      @if nth($color, 1) == 'secondary' {
        background-color: lighten(nth($color, 2), 3%) !important;
        color: $primary !important;
      }
    }
  }
}
