.circle-icon {
    background: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opacity-5 {
    opacity: .5;
}

.blurred-overlay { 
    filter: blur(5px);
    background: black;
    opacity: .7;
}