$xsm: 374px;
$sm: 576px;
$md-2: 700px;
$md: 768px;
$lg: 992px;
$xlg: 1200px;

//For Extra Small
@mixin xsm {
  @media screen and (max-width: ($xsm)) {
    @content;
  }
}

//For Small
@mixin sm {
  @media screen and (max-width: ($sm)) {
    @content;
  }
}

@mixin md-2 {
  @media screen and (max-width: ($md-2)) {
    @content;
  }
}

//For Medium
@mixin md {
  @media screen and (max-width: ($md)) {
    @content;
  }
}

//For large
@mixin lg {
  @media screen and (max-width: ($lg)) {
    @content;
  }
}

@mixin xlg {
  @media screen and (max-width: ($xlg)) {
    @content;
  }
}

@mixin md-height {
  @media screen and (max-height: ($md-2)) {
    @content;
  }
}
