@font-face{
    font-family:Ubuntu;
    src:url('../../utils/Ubuntu/Ubuntu-Regular.ttf')
}

@each $color in $colors {
    .text-color-#{nth($color,1)}{
        color:nth($color,2)
    }
}

*,
::before,
::after{
    font-family:Ubuntu;
}