@import './image-map';
@import './alerts';
@import './typography';
@import './buttons';
@import './colors';
@import './modals';
@import './helpers';
@import './modals';
@import './plugins/timepicker';

.App {
  background-color: $background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
