@import '../../common/styles/colors';
@import '../../common/styles/buttons';

.form {
  &-body {
    height: 85%;
    padding: 40px 10px 10px 10px;

    .one-line {
      display: flex;
      align-items: end;
    }

    .form-label {
      width: 150px;
      color: $primary;
    }
  }
}

.error-message {
  margin-block: 20px;
  color: $danger;
}
