@import '../../common/styles/colors';
@import '../../common/styles/buttons';
@import '../../common/styles/responsive';

.form {
  &-body {
    height: 85%;
    padding: 0 60px 0 60px;
    text-align: center;

    .one-line {
      display: flex;
      align-items: flex-end;
    }

    .form-label {
      width: 150px;
      color: $primary;
    }
  }
}

.error-message {
  margin-block: 20px;
  color: $danger;
}

.form-control {
  border: 0;
  border-radius: 0;
}

@include md-2 {
  .form {
    &-body {
      padding-inline: 30px;
    }
  }
}
