.modal-body {
    .today {
        border-left: 0 !important;
    }
    .calendar .body .selected {
        border-left: 10px solid transparent;
        border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
        border-image-slice: 1;
    }
}