.logo-container {
  flex-shrink: 0;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  background: rgb(203, 113, 203);
  color: white;
}

.user-image {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}
