@import '../../common/styles/colors';
.nav {
  // background: $dark;
  background: $primary;
  padding: 0;
  margin: 0;

  &__logo {
    &-container {
      padding: 0;
      margin: 0;
    }
  }
  &__user-data {
    &--name {
      text-transform: capitalize;
      color: $white;
      padding: 0;
      margin: 0;
      margin-right: 3px;
      font-size: 1.5rem;
    }
  }
}
